html{
  font-size: 8px;
}

:root {
  --colorP: blueviolet; /* Primary color */
  --colorS: rgba(203, 70, 255,0.75); /* Secondary color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  cursor: none;
}


/* Section-------------------------------------------- */
.section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.75s ease;
}
.section-title {
  height: 6rem;
  font-family: "Orbitron", serif;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
}
.section-content {
  width: 80%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;  
  border-radius: 10px;
  overflow-y: auto  ;
}
.section-body {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}

/* Services-------------------------------------------- */
.service {
  display: none;
}
#service1 {
  display:block;
}
.service-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.service-title {
  font-family: "Orbitron", serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--colorP);
}
.service-img {
  width: 40%;
}
.service-img > img {
  width: 100%;
}
.service-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  overflow-y: auto;
}


/* Header and Footer-------------------------------------------- */
.HF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
  font-family: "Orbitron", serif;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  transition: all 0.5s ease;
  position: absolute;
}
#header {
  width: 100%;
  height: 60px;
  top: -100px;
}
#footer {
  width: 100%;
  height: 40px;
  bottom: -60px;
  font-weight: 100;
}
.btnA{
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 4px;
  font-size: 2rem;
}
.btnB{
  background: none;
  border: none;
  border-radius: 10px;
  width: 32px;
  height: 32px;
}
.btnB > img {
  width: 100%;
}
.btn-cnt{
  padding: 4px;
  border-radius: 10px;
  background-color: none;
  border: none;
}

#side-menu-btn{
  width: 32px;
  height: 32px;
  display: none;
  background:none;
  border : none;
  border-radius: 0.5rem;
}
#close-menu{
  background: none;
  border: none;
}
.side-btn {
  width: 100%;
}
.btnA:hover, .btnB:hover, .btn-cnt:hover, .side-btn:hover{
  background-color: var(--colorS);
}

#side-menu-tray {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -200px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease;
  z-index: 9999;
}
#close-menu{
  position: absolute;
  top: 10px;
  right: 10px;
}
#side-menu-links {
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Others -------------------------------------------- */
#intro-div {
  background-color: white;
  width: 80%;
  padding: 20px;
  border-radius: 10px;

  text-align: center;
  font-size: 3rem;
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#contact-links{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  gap: 20px;
}


/* ========================================= Tablet Responsive */
@media screen and (max-width: 1024px) {
  .HF {
    font-size: 2rem;
    font-weight: 80;
  }
  #intro-div {
    padding: 20px;
    font-size: 2.5rem;
  }
  .section-content{
    gap: 2rem;
    max-height:80%;
  }
  .section-title {
    font-size: 4rem;
    text-align: center;
  }
  .section-body {
    font-size: 2.5rem;
  }

  .service-content {
    flex-direction: column;
    align-items: center;
    gap : 2rem;
  }
  .service-title {
    font-size: 2.5rem;
  }
  .service-img{
    width: 80%;
  }
  .service-text {
    width: 100%;
    font-size: 2rem;
  }
  .btnB{
    width: 24px;
    height: 24px;
  }
}

/* ========================================= Mobile Responsive */
@media screen and (max-width: 768px) {

  #intro-div {
    padding: 2rem;
    font-size: 2.25rem;
  }
  .section-content{
    gap: 10px;
  }
  .section-title{
    font-size: 3rem;
    height: 32px;
    text-align: center;
  }
  .section-body, .service-title {
    font-size: 2.25rem;
  }
  .service-content {
    gap : 4px;
  }
  .service-img{
    width: 80%;
  }
  .service-text {
    font-size: 1.25rem;
  }
  .HF {
    font-size: 1.5rem;
    font-weight: 80;
  }
  #footer {
    font-size: 1rem;
  }
}
